@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: inherit;
    color: inherit;
}

h1 {
    font-family: 'Poppins';
    font-size: 40px;
}

h2 {
    font-family: 'Poppins';
    font-size: 32px;
}

h3 {
    font-family: 'Poppins';
    font-size: 28px;
}

button {
    border-radius: 25px;
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.13));
    border: none;
}

.try {
    background-color: white;
    background-position: top;
    width: 20%;
    font-size: 14px;
    font-weight: 700;
    padding: 1% 1%;
}